*.obj
*.exp
*.res
*.lib
*.dll
*.exe
*.sys
*.vxd
*.pdb
*.cod
*.lst
*.mac
*.log
glide2x/cvg/glide/src/fxgasm.h
glide2x/cvg/glide/src/fxinline.h
glide2x/h3/glide/src/fxgasm.h
glide2x/h3/glide/src/fxinline.h
glide2x/sst1/glide/src/fxgasm.h
glide2x/sst1/glide/src/fxinline.h
glide3x/cvg/glide3/src/fxgasm.h
glide3x/cvg/glide3/src/fxinline.h
glide3x/h3/glide3/src/fxgasm.h
glide3x/h3/glide3/src/fxinline.h
glide3x/h5/glide3/src/fxgasm.h
glide3x/h5/glide3/src/fxinline.h
glide3x/sst1/glide3/src/fxgasm.h
glide3x/sst1/glide3/src/fxinline.h
