/*
 * 3Dfx Voodoo/Voodoo2 3D Accelerator Board Driver
 *
 * Main driver resources
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "3Dfx Voodoo memory mapper driver"
#define VER_INTERNALNAME_STR        "fxptl.sys"

#include "common.ver"
